.fav_panel {
    display: grid;
    border: 2px solid black;
    justify-items: center;
    justify-content: space-between;
    margin: 30px;
}

.container {
    position: relative;
    width: 400px;
    height: 300px;
}

.fav_images {
    display: block;
    margin: 10px;
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    width: 400px;
    opacity: 0;
    transition: .5s ease;
    background-color: #0d1214;
}

.container:hover .overlay {
    opacity: 0.9;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.f_name {
    border: solid 1px rgb(0, 0, 0);
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    margin-top: 10px;
    padding: 10px;
    font-size: 25px;
    justify-content: center;
    text-align: center;
}

.f_info {
    margin-bottom: 20px;
    font-family: 'Josefin Sans', sans-serif;
    margin: 10px;
    font-size: 20px;
    font-weight: 200;
    justify-content: space-between;
    align-content: center;
    text-align: center;
}

.f_lastline {
    text-decoration: underline;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 20px;
    color: rgb(140, 32, 32);
    font-weight: 500;
    margin-top: 20px;
    font-size: 15px;
}